{
  "env": {
    "production": {
      "plugins": [
        ["inline-json-import", {}],
        [
          "transform-inline-environment-variables",
          {
            // These are not secrets. It is safe to let GAE set them
            "exclude": ["NODE_ENV", "PORT"]
          }
        ]
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
